In [34]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
import pandas as pd

In [40]:
url = 'https://en.wikipedia.org/wiki/List_of_players_in_the_Naismith_Memorial_Basketball_Hall_of_Fame'
hof_table = pd.read_html(url)
hof_df = hof_table[0]
hof_df = hof_df.loc[hof_df["Year"] > 1987].drop(columns=['Ref.'])

inductees_list = hof_df["Inductees"].to_list()

hof_df.head()

,Year,Inductees,Pos.,Achievements
70,1988,Clyde Lovellette,C-F,"Star big man of the 1950s, for Kansas as colle..."
71,1988,Bobby McDermott,G,star scoring guard and player coach for the Fo...
72,1988,Wes Unseld,C-F,NBA MVP (1969) NBA Champion (1978) NBA Finals ...
73,1989,William Gates,F,Two-time World Professional Tournament champio...
74,1989,K.C. Jones,G,"NCAA championship with USF, 1955, 1956U.S. Oly..."

In [41]:
engine = create_engine("sqlite:///NBA.sqlite")

In [46]:
hof_df.to_sql(name='hall_of_famers', con=engine, if_exists='replace', index=False)

In [47]:
engine.table_names()

['hall_of_famers']

In [49]:
pd.read_sql_query('SELECT * FROM hall_of_famers', con=engine).head()

,Year,Inductees,Pos.,Achievements
0,1988,Clyde Lovellette,C-F,"Star big man of the 1950s, for Kansas as colle..."
1,1988,Bobby McDermott,G,star scoring guard and player coach for the Fo...
2,1988,Wes Unseld,C-F,NBA MVP (1969) NBA Champion (1978) NBA Finals ...
3,1989,William Gates,F,Two-time World Professional Tournament champio...
4,1989,K.C. Jones,G,"NCAA championship with USF, 1955, 1956U.S. Oly..."