In [1]:
import pandas as pd

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_players_in_the_Naismith_Memorial_Basketball_Hall_of_Fame'

In [3]:
hof_table = pd.read_html(url)
hof_df = hof_table[0]
hof_df.head()

,Year,Inductees,Pos.,Achievements,Ref.
0,1959,Chuck Hyatt,G,"National championship (Pittsburgh, 1928, 1930)...",[3]
1,1959,Hank Luisetti,F,3 Pacific Coast Conference championships (Stan...,[4]
2,1959,George Mikan,C,"All-America (DePaul, 1944–45); All-NBA First-T...",[5]
3,1959,John Schommer,G,"Big Ten Championships (Chicago, 1907–09); All-...",[6]
4,1960,Vic Hanson,G,"Helms Foundation Championship (Syracuse, 1926)...",[7]

In [5]:
type(hof_df["Year"][0])

numpy.int64

In [9]:
hof_1977 = hof_df.loc[hof_df["Year"] > 1987]

hof_1977["Inductees"].to_list()

len(hof_1977)

129